body{
    background-color: red;
}

h1{
    background-color: aqua;
    color: white;
    text-align: center;
}

div{
    background-color: coral;
}
img{
    width: 250px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: left;
}
.a{
background-color: white;
width: 350px;
border: 1px solid white;
border-radius: 15px;
text-align: center;
padding: 15px;
}
.b{
    background-color: bisque;
}
button{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
}

